.item {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 30px 20px;
}

.item:not(:last-child) {
  border-bottom: 1px #e6e6e6 solid;
}

.text {
  max-width: 620px;
  padding: 11px 15px;
  margin-right: 10px;
}

.deleteBtn {
  width: 70px;
  height: 43px;
  font-size: 27px;
  line-height: 1.2;
  padding-bottom: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 174, 255);
  border-radius: 5px;
}
.deleteBtn:hover {
  background-color: rgb(140, 140, 140);
  transition: background-color 0.3s ease-in-out;
}
